.header {
    background-color:black;
    color:white;
    padding:10px 0;
    font-family: $second_font;
}

.header_container {
    display: flex;
    align-items: center;
    
    @media screen and (min-width: 800px) {
        justify-content: space-between;
    }
    ul {
        flex:1;
        display: flex;
        
        align-items: center;


        li {
            list-style: none;
            margin-left: 10px;
            @media screen and (min-width: 800px) {
                margin-right:20px;
            }
            a {
                text-decoration: none;
                color:white;
            }
        }
    }
    .social_icons{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}

// brand

.brand_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding:20px 0;
    .brand{
        flex:0.35;
        margin-right: 10px;
    }
    .brand_hero {
        flex:0.65;
        background-image: url("../public/image/hero.jpg");
        height: 100%;
        background-position: center center;
        
        background-size: cover;
       
    }
}