$special_red:#E54E53;
$second_color:#16B4BC;
$third_color:#49667D;
$main_font:  'Source Sans Pro', sans-serif;
$second_font:'Fjalla One', sans-serif;
$third_font:'Roboto', sans-serif;
$secondaty_font: 'Herr Von Muellerhoff', cursive;